.project
.cproject
.settings/
gmon.out
Debug/
.sconsign.dblite

IsomerY_Debug_Linux
IsomerY_Debug_Win
IsomerY_Release_Linux
IsomerY_Release_Win
*.exe

debug_c_object_*
release_c_object_*
*.o
src/Alkane/*.gch
src/Error_Handling/*.gch

# Konfiguationsdatei, wenn das Projekt auf Android mittels C4droid uebersetzt wird
.c4droid
